/.git
/.github
/.vscode
/bot
/config
/data
/DLLSocket
/html/changelogs
/scripts
/SQL
/tools
/_build_dependencies.sh
/.dockerignore
/.editorconfig
/.gitignore
/.travis.yml
/appveyor.yml
/COPYING
/docker-build-scorpio
/docker-init-db
/docker-run-scorpio
/Dockerfile
/dreamchecker.exe
/libmysql.dll
/LICENSE-AGPL3.txt
/LICENSE-CC-BY-NC-SA.txt
/LICENSE-GPL3.txt
/paradise-upstream.md
/README.md
/rust_g.dll
/TGS3.json
